.lamp {
    height: 35px;
    width: 35px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    position: relative;
}
.red-button {
    position: absolute;
    right: 40px;
    top: 20px;
    background-color: red;
    color: black;
    border-radius: 50%;
    z-index: 2;
    width: 150px;
    height: 150px;
}
.show-right {
    width: 0;
    height: 0;
    position: absolute;
    left: 9px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid green;
    display: none;
  }
  .show-up {
    width: 0;
    height: 0;
    position: absolute;
    left: 3px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid green;
    display: none;
    
  }
  .show-down {
    width: 0;
    height: 0;
    position: absolute;
    left: 9px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid green;
    display: none;
  }
  .show-left {
    width: 0;
    height: 0;
    position: absolute;
    right: 9px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid green;
    display: none;
  }  
.arrow-right {
display: inline;
}
.lampRed {
    background-color: red;
}

.lampYellow {
    background-color: yellow;
}

.lampGreen {
    background-color: green;
}

.signal {
    padding: 20px;
}

#lane-1{
    position: absolute;
    left: 28%;
    top: 8%;
}
#lane-2{
    position: absolute;
    left: 23%;
    top: 57%;
    transform: rotate(-90deg);
}
#lane-3{
    position: absolute;
    left: 67%;
    top: 65%;
}
#lane-4{
    position: absolute;
    left: 70%;
    top: 14%;
    transform: rotate(-90deg); 
}

#traffic-signals {
    background: url('./background-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.image {
    width: 250px;
    height: 150px;
    position: absolute;
    z-index: 4;
}

#lane-1-image {
    left:42%;
    top: 75%;
}
#lane-2-image {
    right:6%;
    top: 41%;
}
#lane-3-image {
    left:42%;
    top: 3%;
}
#lane-4-image {
    left:6%;
    top: 40%;
}
.lamp-left {
    float: left;
    left: -40px;
}
.lamp-straight {
    float: left;
    left: -40px;
}
.lamp-right {
    float: left;
    left: -40px;
}
.clear {
    clear: both;
}

.ped-image {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 5;
    background: black;
}
#lane-1-ped {
    top: 66%;
    right: 48%;
}
#lane-2-ped {
    top: 46%;
    right: 28%;
}
#lane-3-ped {
    top: 26%;
    left: 46%;
}
#lane-4-ped {
    top: 44%;
    left: 28%;
}
.display-none {
    display: none;
}